@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


/***
    The new CSS reset - version 1.8.5 (last updated 14.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}

/* Variables */

:root {
    --Background:#1E1A44;
    --Bitcoin:#FED263;
    --News: #91B3FA;
    --PageElements: #F2541B;
    --White: #FFFFFF;
    --Grey: #D9D9D9;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--Background);
    font-family: 'Sora', sans-serif;
}


main {
    margin: auto;
    margin-top: 5rem;
    background-color: var(--Background);
    width: min(1440px, 90rem);
    font-family: 'Sora', sans-serif;
}



/* Header Stuff */


header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px 1rem;
    grid-column: 1 / span 12; 
}


nav {
    grid-column: 1 / span 3;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

ul {
    display: flex;
    justify-content: left;
    align-items: left;
    flex: 1;
    gap: 1rem;
    
}

button {
    display: flex;
    padding: var(--space-s, 0.5rem) var(--space-m, 1rem);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--White);
    border: none;
    border-radius: 3.125rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}


button:hover {
    background-color: var(--PageElements);
    transform: translateY(-10px) scale(1.05);
    box-shadow: 2px 35px 32px -8px rgb(34, 0, 53);
    cursor: pointer;
}

.currencybtn {
    display: flex;
    color: var(--Background);
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--Bitcoin);
    padding: 0.2rem 1rem;
    border-radius: 3.125rem;
    text-transform: uppercase;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.currencybtn:hover {
    /* background-color: transparent; */
    box-shadow: 2px 15px 16px -8px rgb(34, 0, 53);
    cursor: pointer;
}

#currency {
    display:flex;
    grid-column: 12 / span 1;
    justify-content: right;
}


/* Typography Stuff */

h1 {
    font-size: 7rem;
    color: var(--White);
}

h2 {
    font-size: 3rem;
    color: var(--White);
}

h3 {
    font-size: 2.5rem;
    color: var(--White);
}


h4 {
    font-size: 2rem;
    color: var(--White);
    line-height: 1.4;
}

h5 {
    font-size: 1.5rem;
    color: var(--White);
}

p {
    font-size: 1.2rem;
    color: var(--White);
    line-height: 1.6;
}

.news-item > a {
    color: var(--White);
    text-decoration:underline;
}

.news-item > h4 {
    font-size: 1.4rem;
    color: var(--PageElements);
    line-height: 1.6;
}

.news-item > p {
    font-size: 1rem;
    color: var(--White);
    line-height: 1.6;
}

/* Hero Stuff */

.hero {
    display: block;
    margin-top: 8rem;
}

span#news {
    color: var(--News);
}

span#price {
    color: var(--Bitcoin);
}

#illustration {
    justify-content: right;
    margin-top: -8.5rem;
    margin-left: 58.5rem;
    scale: 1.3;
}

button#cta {
    display: flex;
    padding: var(--space-s, 0.5rem) var(--space-m, 1rem);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--White);
    border: none;
    border-radius: 3.125rem;
    font-size: 1.2rem;
    background-color: var(--PageElements);
    margin-top: -2.5rem;
    margin-left: 25rem;
}

button#cta:hover {
    background-color: transparent;
    cursor: pointer;
}

#ctasection {
    margin-top: -6rem;
    margin-right: 45rem;
}


/* About Page */

.aboutSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 1.5rem;
    grid-column: 1 / span 2;
    margin-top: 3rem;
}

.question {
    margin-bottom: 4rem;
    padding-right: 1rem;
}

#btcimage {
    scale: 1.5;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    margin-left: 12rem;
    margin-top: 3rem;
}

#newsimage {
    scale: 1.3;
    grid-column: 1 / span 1;
    grid-row: 4 / span 2;
    margin-left: 14rem;
    margin-top: -5rem;
}

/* Analyse Page */


#instruction {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.analysisSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 1.5rem;
    grid-column: 1 / span 2;
    margin-top: 3rem;
}

#newsContainer {
    display: flex;
    justify-content: center;
    align-items: top; 
    margin-top: 3rem;
    background-color: rgba(145, 179, 250, 0.33);
    /* border-radius: 33px; */
    height: 70vh;
    overflow: scroll;
}

#priceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background-color: white;
    /* border-radius: 33px; */
}

#news-feed {

}

.news-item {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
  }


/* For Mobile */

@media (max-width:1439px) {

    main {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 3rem;
        width: calc(100% - 2rem);
    }

    .hero {
        margin-top: 4rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1rem;
    }

    #illustration {
        display: flex;
        justify-content: left;
        align-content: left;
        margin: 0rem;
        scale: 0.7;
    }

    #ctasection {
        margin: 1rem;
    }

    button {
        font-size: 0.8rem;
    }

    button#cta {
        margin-left: 0rem;
        margin-top: 1rem;
        font-size: 0.6rem;
        padding: 0.1rem 0.3rem;
    }

    #currency, .currencybtn, .currencybtn:hover {
        display: none;
    }

    .aboutSection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px 1.5rem;
        grid-column: 1 / span 1;
        margin-top: 3rem;
    }

    #btcimage {
        display: none;
    }

    #newsimage {
        display: none;
    }

    p {
        font-size: 0.8rem;
    }

    #instruction {
        margin-top: 3rem;
    }

    .analysisSection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px 1rem;
        grid-column: 1 / span 1;
        margin-top: 1rem;
    }
}